/**********************************/
/********** General CSS ***********/
/**********************************/


body {
    color: #353535;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background: #f3f6ff;
}
.button {
    background-color: #4877ff;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .clearfix:after{
          content:" ";
          display:block;
          height:0;
          clear:both;
          visibility:hidden;
      }
  .container{
  position:absolute;
  
  margin:auto;
  }
  
  .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
    color:white;
    text-align: center;
    
  }
  
  .show{ 
    width: 100%;
    height: auto;
   
  
  }  


.row {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
 
  }
 
.column {
    flex: 33.33%;
    padding: 10px;
  }
  
  .row1 {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
 
  }
 
.column1 {
    flex: 33.33%;
    padding: 10px;
  }
  
  .column2 {
    flex: 33.33%;
    padding: 0px;
  }
  .row2 {
    display: inline-flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
 
  }
  .row3 {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
 
  }
 
.column3 {
    flex: 33.33%;
    padding: 0px;
    column-gap: 20px;
  }

  .row4 {
    display: flex;
    align-items: center;
    margin-left: 180pt;
    margin-right: 180pt;
    margin-top: 60pt;
 
  }
 
.column4 {
    flex: 33.33%;
    padding: 2px;
  }




  .row5 {
    display: flex;
    align-items: center;
    margin-left: 180pt;
    margin-right: 180pt;
 
  }
 
.column5 {
    flex: 33.33%;
    padding: 0px;
  }





 
a {
    color: #FF6F61;
}

a:hover,
a:active,
a:focus {
    color: #353535;
    outline: none;
    text-decoration: none;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}

h2 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
}


@media(min-width: 992px) {
    .container-fluid {
        padding-right: 60px;
        padding-left: 60px;
    }
}



.containertext1 {
    position: relative;
    text-align: center;
    color: white;
    font-size: larger;
font-weight: 600;
font-family: sans-serif;
  }
  
  
  
  .centeredtext1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .containermyDiv1{

    margin-left: 4%;
    margin-right: 4%;
    height: 400pt;
    background-color: rgb(234, 237, 245);    
  }

  .myDiv2 {
   
   padding-left: 50px;
   padding-top: 50px;
    text-align: center;
   
    
  }
















  .container5{
   height: 45pt;
    width: 100%;
    background-color: rgb(136, 136, 136);
}


 
  
  
  .containerCust{
	background-color:#d3d3d3;

  color: black;
  text-align: center;
  float: left;
  width: 100%;
  height:auto;
  padding: 50px;
  text-align: center;
  font-size: 25px;
	
}

.column7{

  float: left;
  width: 33.33%;
  padding: 35px;
  text-align: center;
  font-size: 25px;
  color: white;
}
	


.search-container {

  float: center;
  width:100%;
  height:auto;
  padding:75px;
  margin:auto;
  background-color: aliceblue;
}

.column8{

  float: left;
  width: 25%;
  
  padding: 35px;
  text-align: center;
  font-size: 25px;
  color: white;
}

.searchButton {
  width: auto;
  height: auto;
  border: 1px solid #4877ff;
  background: #4877ff;
  text-align: center;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}


.search {
  width: auto;
  position: relative;
  display: inline;
}

.searchTerm {
  width: auto;
  border: 1px solid #4877ff;
  border-right: none;
  padding: 10px;
  margin:auto;
  height: 20px;
  border-radius: 0 5px 5px 0;
  outline: none;
  color: #9DBFAF;
  font-size:25px;
}


.bottom1{
	width:100%;
	height:10pt;
	text-align:center;


}

.bottom2{
	width:100%;
	height:auto;
	padding:0px;
	text-align:center;
	background-color:#0C090A;
}
.containerSL{
    margin-left: 0%;
    margin-right: 0%;
    height: 40pt;
    background-color: rgb(0, 0, 0); 
}
.containercheck{

    width: 100%;
    height: 10pt;
}
  /**********************************/
 /************** NAV BAR ***********/
/**********************************/

  .navbar {
    width: 100%;
    background-color: #d3d3d3;
    overflow: auto;
  
  }
  .navbar ul {
    padding: 0px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }
  
  .navbar a {
    float: left;
    padding: 12px;
    color: black;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background-color: white;
  }
  
  
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
  .navbar-right {
    float: right;
  }
  
  